---
   import CategoryCloud from "../../components/blog/CategoryCloud.astro";
   import Pagination from "../../components/common/Pagination.astro";
   import PostCard from "../../components/home/PostCard.astro";
   import MainLayout from "../../layouts/MainLayout.astro";
   import { formatBlogPosts } from "../../utils/utils"

   export async function getStaticPaths({ paginate }: any) {
      const allPosts = await Astro.glob("./*.md")
      const formattedPost = formatBlogPosts(allPosts)

      return paginate(formattedPost, {
         pageSize: 3
      })
   }

   const { page } = Astro.props

---

<MainLayout title="About">
   <div class="flex justify-center pt-10 lg:pt-20 pb-10">
      <div class="flex flex-col items-center">
         <h1 class="text-4xl font-semibold mb-6 font-atkinson w-full px-6 lg:px-0">New Blog Posts</h1>
         <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-10 mb-10 px-6 lg:px-0">
            {
            page.data.map((post: any) => (
            <PostCard frontmatter={post.frontmatter} url={post.url} />
            ))
            }
         </div>
         <Pagination prevUrl={page.url.prev} nextUrl={page.url.next} />
         <h2 class="mt-8 mb-4 text-center text-2xl font-semibold font-atkinson">Blog Categories</h2>
         <CategoryCloud showCount={true} />
      </div>
   </div>
</MainLayout>