---
    import Icon from "astro-icon";

    interface Props {
        name: string;
        href?: string;
        className?: string;
        icon?: {
            name: string;
            side: "left" | "right"
        }
    }

    const { name, href, className, icon } = Astro.props as Props
---

<a href={href} class={className}>
    {
        icon && icon.side === "left" && (
            <Icon name={icon.name} height="24" width="24" />
        )
    }
    <button>
        {name}
    </button>
    {
        icon && icon.side === "right" && (
            <Icon name={icon.name} height="24" width="24" />
        )
    }
</a>