---
    import MainLayout from "./MainLayout.astro";
    import PostHeader from '../components/home/PostHeader.astro';

    const { frontmatter } = Astro.props

    const { title, description, date, category, author, image } = frontmatter
---

<MainLayout title={title}>
    <PostHeader title={title} date={date} category={category} author={author} image={image} />
    <div>
        <div class="font-atkinson text-xl">
            <slot />
        </div>
        <div></div>
    </div>
</MainLayout>